:root {
	--primary-color: #4089f0;
	--normal-font-color: #08002a;
	--link-color: #4089f0;
	--active-color: #326bbb;
	--border-color: #326bbb;
	--han-font-family: "方正屏显雅宋_GBK";
	--han-kai-ti: "方正楷体简体";
	--han-hei-ti: "方正黑体简体";
	--mono-font-family: "Fantasque Sans Mono";
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
	color: var(--normal-font-color);
	font-family: var(--han-font-family);
}

/* 链接 */
a {
	text-decoration: none;
	color: var(--link-color);
}

a:hover {
	color: var(--active-color);
}

/* 表格 */
table {
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid var(--border-color);
	margin-left: auto;
	margin-right: auto;
}

table td,
table th {
	padding: .4em 1em;
	border-bottom: 1px solid var(--border-color);
}

table thead {
	background-color: #f6f6fe;
}

table thead th:not(:first-child),
table tbody td:not(:first-child) {
	border-left: 1px solid var(--border-color);
}

table tbody tr:last-child td {
	border-bottom-width: 0;
}

/* 引用 */
blockquote {
	text-decoration: underline wavy var(--active-color);
}

/* 粗体 */
strong {
	font-family: var(--han-hei-ti);
	text-emphasis-position: under;
	text-emphasis-style: dot;
}

/* 所谓的斜体 */
em {
	font-family: var(--han-kai-ti);
	font-style: normal;
	text-decoration: underline;
}

/* 图片 */
figure {
	text-align: center;
}

figure > img {
	width: auto;
	max-width: 100%;
}

/** 代码 */
pre {
	padding: 1em;
	background-color: #232629;
	color: #cfcfc2;
}

pre > code {
	font-family: var(--mono-font-family);
}

.aono.main.container {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.aono.site.header {
	font-size: 2em;
	color: var(--primary-color);
	text-shadow: 1px 1px 1px #326bbb;
	margin-bottom: 1rem;
}

.aono.navi.menu {
	border-width: 2px 6px;
	border-color: var(--border-color);
	border-style: solid double;
	display: flex;
}

.aono.navi.menu > ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	display: flex;
}

.aono.navi.menu .item {
	padding: .4em 1em;
	transition: color .3s, background-color .3s;
}

.aono.navi.menu .item:hover {
	background-color: #d8f1f8;
}

.aono.navi.menu > .right.item {
	margin-left: auto;
}

.aono.segment {
	border-style: solid double;
	border-width: 2px 6px;
	border-color: var(--border-color);
	padding: 1em;
	margin-top: 2em;
	text-shadow: 0 0 1px hsla(244, 78%, 21%, .2);
	line-height: 1.4em;
}

.aono.segment section > p {
	text-indent: 2em;
}

.aono.main.section footer {
	text-align: center;
}

.aono.article .header .post.date {
	font-family: var(--han-kai-ti);
	font-weight: normal;
}

.aono.article p code {
	--the-color: hsl(345, 52%, 43%);
	color: var(--the-color);
	border-bottom: 1px solid var(--the-color);
	font-family: var(--mono-font-family);
	margin: auto .1em;
}

.aono.footer {
	text-align: center;
	margin-top: 2em;
}

.aono.pagination {
	padding-left: 0;
}
.aono.pagination > li {
	display: inline;
	border-bottom: 1px solid var(--border-color);
	margin-left: 6px;
	margin-right: 6px;
}

/** 数学公式 */
.math em {
	font-family: initial;
	text-decoration: initial;
}

.math.display {
	display: block;
	text-align: center;
}
/** 结束 */

/** 扩展类 */
.提示,
.提示！,
.注意,
.注意！,

.定理,
.定理！,
.定义,
.定义！,
.命题,
.命题！,
.结论,
.结论！ {
	position: relative;
	padding: .2rem 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-width: 2px;
	border-style: solid;
	text-indent: 2rem;
}

.提示 pre,
.提示！ pre,
.注意 pre,
.注意！ pre,

.定理 pre,
.定理！ pre,
.定义 pre,
.定义！ pre,
.命题 pre,
.命题！ pre,
.结论 pre,
.结论！pre {
	text-indent: 0;
}


.提示！::before,
.注意！::before,

.定理！::before,
.定义！::before,
.命题！::before,
.结论！::before {
	position: absolute;
	top: -.8rem;
	left: 2rem;
	padding: .2rem 1rem;
	border-radius: 4px;
	color: white;
	font-family: var(--han-hei-ti);
	text-indent: 0;
}

.提示,
.提示！ {
	background-color: #B9F6CA;
	border-color: #00C853;
}
.提示！::before {
	content: "提示";
	background-color: #00C853;
}

.注意,
.注意！ {
	background-color: #FFCDD2;
	border-color: #D50000;
}
.注意！::before {
	content: "注意";
	background-color: #D50000;
}

.定义,
.定义！ {
	border-color: hsl(122, 56%, 68%);
	background-color: #BCAAA4;
	border-color: #3E2723;

}
.定义！::before {
	content: "定义";
	background-color: #3E2723;
}

.定理,
.定理！ {
	background-color: #F8BBD0;
	border-color: #880E4F;
}
.定理！::before {
	content: "定理";
	background-color: #880E4F;
}

.命题,
.命题！ {
	background-color: #BBDEFB;
	border-color: #0D47A1;
}
.命题！::before {
	content: "命题";
	background-color: #0D47A1;
}

.结论,
.结论！ {
	background-color: #B2EBF2;
	border-color: #006064;
}
.结论！::before {
	content: "结论";
	background-color: #006064;
}

.两栏,
.三栏 {
	display: flex;
}

.两栏 > .列 {
	flex-basis: 50%;
}

.两栏 > .列:first-child {
	padding-right: .5rem;
}

.两栏 > .列:last-child {
	padding-left: .5rem;
}

.三栏 > .列 {
	flex-basis: 33.3%;
	padding-left: .5rem;
	padding-right: .5rem;
}

.三栏 > .列:first-child {
	padding-left: 0;
}

.三栏 > .列:last-child {
	padding-right: 0;
}

/** 结束 */

/** 手机适配 */
@media (max-width: 740px) {
	.aono.main.container {
		width: 100%;
	}

	.aono.site.header > small {
		display: block;
		text-align: right;
	}

	.aono.navi.menu,
	.aono.navi.menu ul {
		flex-direction: column;
	}

	.aono.navi.menu ul .item {
		text-align: center;
	}

	.aono.navi.menu > .right.item {
		margin-right: auto;
	}

	.两栏,
	.三栏 {
		display: block;
	}

	.两栏 > .列,
	.两栏 > .列:first-child,
	.两栏 > .列:last-child,
	.三栏 > .列,
	.三栏 > .列:first-child,
	.三栏 > .列:last-child {
		padding-left: 0;
		padding-right: 0;
	}
}
