:root {
	--normal-font-color: #08002a;
	--link-color: #234b7e;
	--active-color: #633341;
	--border-color: #0f0c37;
	--light-blue: hsl(205, 21%, 69%);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: #f4fefd;
	color: var(--normal-font-color);
	font-family: "方正书宋_GBK";
}

/* 链接 */
a {
	text-decoration: none;
	color: var(--link-color);
}

a:hover {
	color: var(--active-color);
}

/* 表格 */
table {
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid var(--border-color);
	margin-left: auto;
	margin-right: auto;
}

table td,
table th {
	padding: .4em 1em;
	border-bottom: 1px solid var(--border-color);
}

table thead {
	background-color: #f6f6fe;
}

table thead th:not(:first-child),
table tbody td:not(:first-child) {
	border-left: 1px solid var(--border-color);
}

table tbody tr:last-child td {
	border-bottom-width: 0;
}

/* 引用 */
blockquote {
	text-decoration: underline wavy var(--active-color);
}

/* 粗体 */
strong {
	font-family: "方正黑体简体";
}

/* 所谓的斜体 */
em {
	font-family: "方正楷体简体";
	font-style: normal;
	text-decoration: underline;
}

/* 图片 */
figure {
	text-align: center;
}

figure > img {
	width: auto;
	max-width: 100%;
}

.aono.main.container {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.aono.navi.menu {
	border-width: 2px 4px;
	border-color: var(--board-color);
	border-style: solid double;
	display: flex;
}

.aono.navi.menu > ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	display: flex;
}

.aono.navi.menu .item {
	padding: .4em 1em;
	transition: color .3s, background-color .3s;
}

.aono.navi.menu .item:hover {
	background-color: #d8f1f8;
}

.aono.navi.menu > .right.item {
	self-align: right;
	margin-left: auto;
}

.aono.segment {
	border-style: solid double;
	border-width: 2px 4px;
	border-color: var(--border-color);
	padding: 1em;
	margin-top: 2em;
	text-shadow: 0 0 1px hsla(244, 78%, 21%, .2);
}

.aono.segment .right.header {
	float: right;
}

.aono.segment .post.list {
}

.aono.segment .post.list > .item {
	margin-bottom: 1em;
}

.aono.segment section > p {
	text-indent: 2em;
}

.aono.article .header .post.date {
	font-family: "方正楷体简体";
	color: var(--light-blue);
}

.aono.article p code {
	color: hsl(345, 52%, 43%);
	border-radius: 4px;
	border: 1px solid var(--border-color);
	font-family: "Fantasque Sans Mono";
	padding-left: .5em;
	padding-right: .5em;
}

.aono.footer {
	text-align: center;
	margin-top: 2em;
}
